
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#5fb6d0;
}

.nav-var {
    background-color: #1E1E1E;
    height: 60px;
}
.footer-sect{
    background-color: #1E1E1E;
    height: 60px;
}

.colorFondo{
background-color: rgba(217, 217, 217, 1);
}


tr{
    border-bottom: solid 2px black;
    border-color: black;
}
