
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#5fb6d0;
    background-image: url("../assets/img/medicos.png");
    background-position: 120% 100%;
    background-size: 65%;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav-var {
    background-color: #1E1E1E;
    height: 60px;
}
.footer-sect{
    background-color: #1E1E1E;
    height: 60px;
}
.bgMedico{
    height: 90vh;
    background-image: url("../assets/img/medicos.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
